<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Our Website</title>
    
  </head>
  <body>
        <div class="container" style="text-align:center">

        {% include 'navbar.html'%}

        <h1>About</h1>  
        <p>The head tag houses the metadata of your website. These are visually invisible data to the user, but they provide information about your website's content. Search engines especially use this data to rank your website.

            Metadata in the head tag includes meta tags, title tags, link tags, scripts, stylesheets, and more.</p>

        <button>Contact US</button>
    
	
  </body>
</html>